:root {
  --border-color: rgba(235, 235, 235, 1);
}
* {
  box-sizing: border-box;
}
body {
  margin: 0%;
  font-family: apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
}
nav {
  background: rgba(255, 255, 255, 1);
  height: 52px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid var(--border-color);
  position: fixed;
  z-index: 9;
}
.nav-child-1 {
  display: flex;
  align-items: center;
}
.nav-child-2 {
  display: flex;
}
.search-bar {
  display: flex;
  padding-left: 8px;
  height: 31px;
}
.search-bar button,
input {
  background: rgba(238, 243, 248, 1);
  border: none;
  outline: none;
}
.search-bar button {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.search-bar input {
  width: 245px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.nav-child-2 div {
  width: 2cm;
  height: auto;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #666666;
}

.nav-child-2 div:hover {
  color: black;
}
.nav-child-2 div a {
  text-decoration-line: none;
  color: red;
}
.nav-child-2 div a:hover {
  text-decoration-line: underline;
}
section {
  width: 100%;
  height: 100vh;
  background-color: rgba(243, 242, 239, 1);
  position: relative;
  top: 52px;
  display: flex;
  justify-content: space-around;
}
.inside-section {
  display: grid;
  grid-template-columns: 225px 535px 311px;
  padding-top: 3rem;
  grid-gap: 1.5rem;
}

.left {
  height: auto;
}
.left-box-1 {
  width: 100%;
  border-radius: 9px;
  overflow: hidden;
}
.left-box-2 {
  width: 100%;
  height: 17vh;
  position: sticky;
  top: 10%;
  height: auto;
}
.left-box-1 img {
  position: absolute;
  border-radius: 50%;
  border: solid var(--border-color);
  width: 73px;
  height: 73px;
  top: 20px;
}
.one {
  background-image: url(backgroundOfProfile.svg);
  height: 56px;
  position: relative;
  display: flex;
  justify-content: center;
}
.two {
  background: white;
  width: 100%;
  height: 7rem;
}
.two div a {
  margin: 0%;
  font-size: 16px;
  font-weight: 600;
  color: black;
  text-decoration: none;
}
.two div a:hover {
  text-decoration-line: underline;
  text-decoration-color: blue;
}
.two div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
}
.two div span {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}
.three,
.four,
.five {
  width: 100%;
  background: white;
  height: 4rem;
  padding-top: 11px;
  border: 1px solid var(--border-color);
  border-right: none;
  border-left: none;
}
.four,
.five {
  border-top: none;
}
.three-firstchild,
.four-firstchild,
.five-firstchild {
  width: 100%;
  background: white;
  height: 42px;
}
.three-1,
.four-1,
.five-1 {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-top: 4px;
  font-size: 13px;
  font-weight: 600;
}
.three-firstchild :hover {
  background-color: var(--border-color);
}
.left-box-2 a {
  text-decoration: none;
}
.left-box-2 a:hover {
  text-decoration: underline;
}
.discover-more {
  height: 40px;
  background-color: gray;
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.64);
  font-weight: 600;
  background: white;
  border-top: 1px solid var(--border-color);
}
.discover-more:hover {
  background-color: var(--border-color);
}
.left-box-2 .material-icons:hover {
  border-radius: 50%;
  background-color: var(--border-color);
}
.five:hover {
  background-color: var(--border-color);
}
.center-1 {
  background-color: white;
  height: 118px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.center-child-1 input {
  border-radius: 33px;
  width: 83%;
  padding-left: 21px;
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  background: white;
  border: 1px solid rgba(197, 197, 197, 1);
}
.center-child-1 img {
  border-radius: 50%;
  width: 3rem;
}
.center-child-1 {
  display: flex;
  justify-content: space-evenly;
}
.center-child-2 {
  display: flex;
  justify-content: space-around;
}
.center-child-2 div {
  display: flex;
  align-items: center;
  padding: 8px;
}
.center-child-2 div span:nth-child(1) {
  padding-right: 6px;
}
.center-child-2 div span:nth-child(2) {
  color: #666666;
  font-size: 14px;
  font-weight: 600;
}
.center-child-2 div:hover {
  background: var(--border-color);
  color: rgba(11, 1, 1, 0.667);
}
.center-2 {
  height: 32px;
  background: yellow;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(243, 242, 239, 1);
}
.center-3 {
  background-color: rgba(255, 255, 255, 1);
  height: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 11px;
}
.font-size-type-one {
  font-size: 12px;
  font-weight: 400;
}
.font-size-type-two {
  font-size: 14px;
  font-weight: 600;
}
.likeandcommentdata img,
a {
  margin-left: 4px;
}
.post-last-part div {
  display: flex;
  align-items: center;
  padding: 8px;
}
.post-last-part div span:last-child {
  margin-left: 5px;
}
.likeandcommentdata a {
  color: rgba(188, 188, 188, 1);
  text-decoration: none;
}
.likeandcommentdata a:hover {
  text-decoration: underline;
  color: blue;
}
.name {
  color: #353535;
  text-decoration: none;
  margin: 0;
}
.center-3 :nth-child(3) a {
  color: rgba(174, 174, 174, 1);
  text-decoration: none;
}
.center-3 :nth-child(3) a:hover {
  color: blue;
  text-decoration: underline;
}
.name:hover {
  color: blue;
  text-decoration: underline;
}
.post-last-part div:hover {
  background-color: var(--border-color);
}
.a-tag-editing a {
  color: #004182;
  text-decoration: none;
}
.a-tag-editing a:hover {
  text-decoration: underline;
}

.right-1 {
  width: 100%;
  background: rgba(255, 255, 255, 1);
  height: 334px;
  border-radius: 13px;
  padding: 14px;
}
.right-1 :nth-child(2) ul li {
  list-style: none;
}
.li-dot {
  background: white;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: solid rgba(102, 102, 102, 1);
}
.right-1 :nth-child(2) ul li {
  margin-left: -40px;
}
.right-2 {
  width: 100%;
  margin-top: 13px;
  height: 51vh;
  background-color: rgba(243, 242, 239, 1);
  position: sticky;
  top: 10%;
}
.right-2-child-1 {
  width: 100%;
  height: 247px;
  background: rgba(255, 255, 255, 1);
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 8px;
}
.right-2-child-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 13px;
}
.right-2-child-2 div {
  display: flex;
  align-items: center;
  width: 202px;
  margin-top: 5px;
  color: rgba(151, 196, 216, 1);
}
.right-2-child-2 :nth-child(1) {
  justify-content: space-between;
}
.right-2-child-2 :nth-child(2) {
  justify-content: space-evenly;
}
.right-2-child-2 :nth-child(3) {
  justify-content: space-between;
}
.right-2-child-2 :nth-child(4) {
  justify-content: space-evenly;
}
.bottum-bar {
  background: rgba(255, 255, 255, 1);
  width: 285px;
  height: 54px;
  color: rgb(0, 0, 0);
  position: fixed;
  right: 10px;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 6px;
  padding-right: 6px;
  border: 3px solid var(--border-color);
  border-radius: 13px;
}
.bottum-bar-child-1 {
  width: 46%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottum-bar-child-2 {
  width: 32%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(102, 102, 102, 1);
}
@media screen and (max-width:1114px){
  .right{
    display: none;
  }
  .search-bar{
    display: none;
  }
}